.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.logo {
  float: left;
}

.links {
  float: right;
  padding: 6px;
}

.nav-links {
  display: inline;
  margin: 0 8px;
  padding-top: 10px;
}

.nav-links img {
  width: 24px;
  height: 24px;
}

.nav-links a {
  font-size: 20px;
  margin-top: 10px;
}

#personal-information {
  background: #B25505;
  text-align: center;
  padding: 20px;
}

#personal-information h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #6a6c6c;
  padding-bottom: 16px;
  margin: auto;
  width: 300px;
}

#about {
  background: white;
}

#projects {
  background: white;
}

header {
  background: #66E5FF;
  padding: 16px 0;
}

header h2 {
  margin: 0;
}

footer {
  background: #66E5FF;
}

.user-pic {
  border-radius: 50%;
  margin: 16px;
}

.clearfix {
  clear: both;
}

.separator {
  border: 1px solid #6a6c6c;
}

.social-media {
  float: left;
}

.footer-text {
  float: right;
}
