.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.logo {
  float: left;
}

.links {
  float: right;
}

.nav_links {
  display: inline;
  margin: 0 8px;
}

.nav_links img {
  width: 24px;
  height: 24px;
}

#personal_information {
  background: #B25505;
  margin: auto;
  text-align: center;
}

#about {
  background: white;
}

#projects {
  background: white;
}

header {
  background: #66E5FF;
}

footer {
  background: #66E5FF;
}

.user_pic {
  border-radius: 50%;
  margin: 16px;
}

.clearfix {
  clear: both;
}

.separator {
  border: 1px solid black;
}

.social_media {
  float: left;
}

.footer_text {
  float: right;
}
