body {
  margin: 0;
  padding: 0;
}

.logo {
  float: left;
}

.links {
  float: right;
}

.nav_links {
  display: inline
}

#personal_information {
  background: #B25505;
}

#about {
  background: white;
}

#projects {
  background: white;
}

header {
  background: #66E5FF;
}

footer {
  background: #66E5FF;
}

.user_pic {
  border-radius: 50%
}

.clearfix {
  clear: both;
}

.separator {
  border: 1px solid black;
}

.social_media {
  float: left;
}

.footer_text {
  float: right;
}
